.websiteBody {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  pointer-events: auto;
}
.Page-outer {
  pointer-events: none;
  z-index: 1;
}
.Frame {
  position: relative;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  margin-left: 0;
  height: 1024px;
  min-width: 200px;
  max-width: 1440px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}
.Frame-outer {
  pointer-events: none;
  z-index: 2;
}
div.zoomed {
  zoom: 3;
  -moz-transform: scale(3);
  -moz-transform-origin: 0 0;
}
.q1 {
  position: relative;
  z-index: 14;
  pointer-events: none;
  margin-left: 847px;
  width: 500px;
  min-width: 500px;
  height: 487px;
  margin-top: 0px;
  margin-bottom: 537px;
  min-height: 487px;
  content: url(assets/_1.png);
}
.q1-outer {
  pointer-events: none;
  z-index: 14;
  position: relative;
  display: flex;
}
.unsplash-fRBpWLAcWIY {
  position: relative;
  z-index: 4;
  pointer-events: none;
  margin-left: 0px;
  width: 722px;
  min-width: 722px;
  height: 1024px;
  margin-top: -1024px;
  margin-bottom: 0px;
  min-height: 1024px;
  content: url(assets/images/unsplash_fRBpWLAcWIY.png);
}
.unsplash-fRBpWLAcWIY-outer {
  pointer-events: none;
  z-index: 4;
  position: relative;
  display: flex;
}
.Welcome-to-Construct {
  position: relative;
  z-index: 5;
  pointer-events: none;
  margin-left: 970px;
  width: 261px;
  min-width: 254px;
  margin-top: -626px;
  margin-bottom: 596px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(128, 128, 128, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Welcome-to-Construct-outer {
  pointer-events: none;
  z-index: 5;
  position: relative;
  display: flex;
}
.ScreenSplitLine {
  position: relative;
  z-index: 3;
  pointer-events: none;
  transform: rotate(89.8880943229338deg);
  margin-left: 1231px;
  width: 1024px;
  min-width: 1024px;
  margin-top: -512px;
  margin-bottom: 512px;
  min-height: undefinedpx;
  border: 1px solid rgba(0, 0, 0, 1);
}
.ScreenSplitLine-outer {
  pointer-events: none;
  z-index: 3;
  position: relative;
  display: flex;
}
.Email {
  position: relative;
  z-index: 6;
  pointer-events: none;
  margin-left: 806px;
  width: 64px;
  min-width: 62px;
  margin-top: -488px;
  margin-bottom: 458px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(203, 203, 203, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Email-outer {
  pointer-events: none;
  z-index: 6;
  position: relative;
  display: flex;
}
.Derwents1998-gmail-c {
  position: relative;
  z-index: 12;
  pointer-events: none;
  margin-left: 810px;
  width: 319px;
  min-width: 311px;
  margin-top: -401px;
  margin-bottom: 371px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Derwents1998-gmail-c-outer {
  pointer-events: none;
  z-index: 12;
  position: relative;
  display: flex;
}
.Line-1 {
  position: relative;
  z-index: 8;
  pointer-events: none;
  transform: rotate(-0.09597274310644513deg);
  margin-left: 810px;
  width: 597px;
  min-width: 597px;
  margin-top: -361px;
  margin-bottom: 361px;
  min-height: undefinedpx;
  border: 1px solid rgba(0, 0, 0, 1);
}
.Line-1-outer {
  pointer-events: none;
  z-index: 8;
  position: relative;
  display: flex;
}
.Password {
  position: relative;
  z-index: 7;
  pointer-events: none;
  margin-left: 806px;
  width: 115px;
  min-width: 112px;
  margin-top: -342px;
  margin-bottom: 312px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(203, 203, 203, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Password-outer {
  pointer-events: none;
  z-index: 7;
  position: relative;
  display: flex;
}
.q------------ {
  position: relative;
  z-index: 13;
  pointer-events: none;
  margin-left: 810px;
  width: 154px;
  min-width: 150px;
  margin-top: -236px;
  margin-bottom: 206px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.q-------------outer {
  pointer-events: none;
  z-index: 13;
  position: relative;
  display: flex;
}
.Line-2 {
  position: relative;
  z-index: 9;
  pointer-events: none;
  transform: rotate(-0.09597274310644513deg);
  margin-left: 804px;
  width: 597px;
  min-width: 597px;
  margin-top: -195px;
  margin-bottom: 195px;
  min-height: undefinedpx;
  border: 1px solid rgba(0, 0, 0, 1);
}
.Line-2-outer {
  pointer-events: none;
  z-index: 9;
  position: relative;
  display: flex;
}
.Rectangle-2 {
  position: relative;
  z-index: 10;
  pointer-events: none;
  margin-left: 984px;
  width: 226px;
  min-width: 226px;
  height: 52px;
  margin-top: -130px;
  margin-bottom: 78px;
  min-height: 52px;
  background-color: rgba(4, 5, 30, 1);
  border-radius: 20px;
}
.Rectangle-2-outer {
  pointer-events: none;
  z-index: 10;
  position: relative;
  display: flex;
}
.Sign-in {
  position: relative;
  z-index: 11;
  pointer-events: none;
  margin-left: 1058px;
  width: 79px;
  min-width: 77px;
  margin-top: -119px;
  margin-bottom: 89px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Sign-in-outer {
  pointer-events: none;
  z-index: 11;
  position: relative;
  display: flex;
}
