.websiteBody {
  margin: 0;
}
.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  pointer-events: auto;
}
.Page-outer {
  pointer-events: none;
  z-index: 1;
}
.Frame {
  position: relative;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  margin-left: 0;
  height: 1024px;
  min-width: 200px;
  max-width: 1440px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}
.Frame-outer {
  pointer-events: none;
  z-index: 2;
}
.Rectangle-3 {
  position: relative;
  z-index: 3;
  pointer-events: none;
  margin-left: 0px;
  width: 1455px;
  min-width: 1455px;
  height: 74px;
  margin-top: -3px;
  margin-bottom: 953px;
  min-height: 74px;
  background-color: rgba(0, 0, 0, 1);
}
.Rectangle-3-outer {
  pointer-events: none;
  z-index: 3;
  position: relative;
  display: flex;
}
.Rectangle-4 {
  position: relative;
  z-index: 7;
  pointer-events: none;
  margin-left: 0px;
  width: 328px;
  min-width: 328px;
  height: 65px;
  margin-top: -1024px;
  margin-bottom: 959px;
  min-height: 65px;
  content: url(assets/Rectangle_4.png);
}
.Rectangle-4-outer {
  pointer-events: none;
  z-index: 7;
  position: relative;
  display: flex;
}
.bx-bx-menu {
  position: relative;
  z-index: 5;
  pointer-events: none;
  margin-left: 1284px;
  width: 65px;
  min-width: 65px;
  height: 65px;
  margin-top: -1020px;
  margin-bottom: 955px;
  min-height: 65px;
}
.bx-bx-menu-outer {
  pointer-events: none;
  z-index: 5;
  position: relative;
  display: flex;
}
.Vector-11 {
  position: relative;
  z-index: 6;
  pointer-events: none;
  margin-left: 16.923076923076906%;
  width: 66.66153846153838%;
  height: 50%;
  margin-top: 24.61538461538459%;
  content: url(assets/Vector_11.png);
}
.Vector-11-outer {
  pointer-events: none;
  z-index: 6;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.unsplash-B4TjXnI0Y2c {
  position: relative;
  z-index: 4;
  pointer-events: none;
  margin-left: 1349px;
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-top: -1020px;
  margin-bottom: 960px;
  min-height: 60px;
  content: url(assets/unsplash_B4TjXnI0Y2c.png);
}
.unsplash-B4TjXnI0Y2c-outer {
  pointer-events: none;
  z-index: 4;
  position: relative;
  display: flex;
}
.entypo-share {
  position: relative;
  z-index: 36;
  pointer-events: none;
  margin-left: 723px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-top: -1013px;
  margin-bottom: 963px;
  min-height: 50px;
}
.entypo-share-outer {
  pointer-events: none;
  z-index: 36;
  position: relative;
  display: flex;
}
.Vector {
  position: relative;
  z-index: 37;
  pointer-events: none;
  margin-left: 12%;
  width: 75%;
  height: 82.98%;
  margin-top: 8%;
  content: url(assets/Vector.png);
}
.Vector-outer {
  pointer-events: none;
  z-index: 37;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.entypo-upload-to-clo {
  position: relative;
  z-index: 25;
  pointer-events: none;
  margin-left: 408px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-top: -1013px;
  margin-bottom: 963px;
  min-height: 50px;
}
.entypo-upload-to-clo-outer {
  pointer-events: none;
  z-index: 25;
  position: relative;
  display: flex;
}
.Vector-7 {
  position: relative;
  z-index: 26;
  pointer-events: none;
  margin-left: 0%;
  width: 100%;
  height: 65%;
  margin-top: 16%;
  content: url(assets/Vector_7.png);
}
.Vector-7-outer {
  pointer-events: none;
  z-index: 26;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ant-design-folder-op {
  position: relative;
  z-index: 23;
  pointer-events: none;
  margin-left: 578px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-top: -1013px;
  margin-bottom: 963px;
  min-height: 50px;
}
.ant-design-folder-op-outer {
  pointer-events: none;
  z-index: 23;
  position: relative;
  display: flex;
}
.Vector-8 {
  position: relative;
  z-index: 24;
  pointer-events: none;
  margin-left: 6%;
  width: 87.5%;
  height: 64.06%;
  margin-top: 18%;
  content: url(assets/Vector_8.png);
}
.Vector-8-outer {
  pointer-events: none;
  z-index: 24;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Group {
  position: relative;
  z-index: 29;
  pointer-events: none;
  margin-left: 866px;
  width: 45.25px;
  min-width: 45.25px;
  height: 45px;
  margin-top: -1010px;
  margin-bottom: 965px;
  min-height: 45px;
}
.Group-outer {
  pointer-events: none;
  z-index: 29;
  position: relative;
  display: flex;
}
.Vector-1 {
  position: relative;
  z-index: 35;
  pointer-events: none;
  margin-left: 57.45856353591166%;
  width: 30.563535911602237%;
  height: 30.555555555555557%;
  margin-top: 0%;
  content: url(assets/Vector_1.png);
}
.Vector-1-outer {
  pointer-events: none;
  z-index: 35;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-2 {
  position: relative;
  z-index: 34;
  pointer-events: none;
  margin-left: 13.259668508287305%;
  width: 30.563535911602237%;
  height: 30.555555555555557%;
  margin-top: 0%;
  content: url(assets/Vector_2.png);
}
.Vector-2-outer {
  pointer-events: none;
  z-index: 34;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-3 {
  position: relative;
  z-index: 33;
  pointer-events: none;
  margin-left: 0%;
  width: 35.82320441988953%;
  height: 32.13333333333333%;
  margin-top: 35.35911602209948%;
  content: url(assets/Vector_3.png);
}
.Vector-3-outer {
  pointer-events: none;
  z-index: 33;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-4 {
  position: relative;
  z-index: 32;
  pointer-events: none;
  margin-left: 22.099447513812148%;
  width: 55.55801104972374%;
  height: 33.333333333333336%;
  margin-top: 66.29834254143644%;
  content: url(assets/Vector_4.png);
}
.Vector-4-outer {
  pointer-events: none;
  z-index: 32;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-5 {
  position: relative;
  z-index: 31;
  pointer-events: none;
  margin-left: 64.0883977900553%;
  width: 35.82320441988953%;
  height: 32.13333333333333%;
  margin-top: 35.35911602209948%;
  content: url(assets/Vector_5.png);
}
.Vector-5-outer {
  pointer-events: none;
  z-index: 31;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-6 {
  position: relative;
  z-index: 30;
  pointer-events: none;
  margin-left: 35.35911602209948%;
  width: 30.563535911602237%;
  height: 30.555555555555557%;
  margin-top: 30.939226519337044%;
  content: url(assets/Vector_6.png);
}
.Vector-6-outer {
  pointer-events: none;
  z-index: 30;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Shared {
  position: relative;
  z-index: 28;
  pointer-events: none;
  margin-left: 921px;
  width: 84px;
  min-width: 82px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Shared-outer {
  pointer-events: none;
  z-index: 28;
  position: relative;
  display: flex;
}
.Share {
  position: relative;
  z-index: 27;
  pointer-events: none;
  margin-left: 771px;
  width: 69px;
  min-width: 67px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Share-outer {
  pointer-events: none;
  z-index: 27;
  position: relative;
  display: flex;
}
.View {
  position: relative;
  z-index: 22;
  pointer-events: none;
  margin-left: 638px;
  width: 58px;
  min-width: 57px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.View-outer {
  pointer-events: none;
  z-index: 22;
  position: relative;
  display: flex;
}
.Upload {
  position: relative;
  z-index: 21;
  pointer-events: none;
  margin-left: 468px;
  width: 84px;
  min-width: 82px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Upload-outer {
  pointer-events: none;
  z-index: 21;
  position: relative;
  display: flex;
}
.Rectangle-6 {
  position: relative;
  z-index: 8;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 17px;
  margin-top: -954px;
  margin-bottom: 937px;
  min-height: 17px;
  background-color: rgba(196, 196, 196, 1);
}
.Rectangle-6-outer {
  pointer-events: none;
  z-index: 8;
  position: relative;
  display: flex;
}
.Rectangle-7 {
  position: relative;
  z-index: 9;
  pointer-events: none;
  margin-left: 0px;
  width: 1440px;
  min-width: 1440px;
  height: 937px;
  margin-top: -937px;
  margin-bottom: 0px;
  min-height: 937px;
  background-color: rgba(0, 0, 0, 1);
}
.Rectangle-7-outer {
  pointer-events: none;
  z-index: 9;
  position: relative;
  display: flex;
}
.unsplash-fRBpWLAcWIY {
  position: relative;
  z-index: 11;
  pointer-events: none;
  margin-left: 353px;
  width: 656px;
  min-width: 656px;
  height: 385px;
  margin-top: -848px;
  margin-bottom: 463px;
  min-height: 385px;
  content: url(assets/unsplash_fRBpWLAcWIY.png);
}
.unsplash-fRBpWLAcWIY-outer {
  pointer-events: none;
  z-index: 11;
  position: relative;
  display: flex;
}
.Rectangle-8 {
  position: relative;
  z-index: 10;
  pointer-events: none;
  margin-left: 353px;
  width: 656px;
  min-width: 656px;
  height: 672px;
  margin-top: -848px;
  margin-bottom: 176px;
  min-height: 672px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 26px;
}
.Rectangle-8-outer {
  pointer-events: none;
  z-index: 10;
  position: relative;
  display: flex;
}
.Rectangle-9 {
  position: relative;
  z-index: 12;
  pointer-events: none;
  margin-left: 505px;
  width: 371px;
  min-width: 371px;
  height: 125px;
  margin-top: -711px;
  margin-bottom: 586px;
  min-height: 125px;
  border: 5px solid rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-radius: 20px;
}
.Rectangle-9-outer {
  pointer-events: none;
  z-index: 12;
  position: relative;
  display: flex;
}
.Drop-images-here {
  position: relative;
  z-index: 13;
  pointer-events: none;
  margin-left: 551px;
  width: 286px;
  min-width: 279px;
  margin-top: -668px;
  margin-bottom: 626px;
  min-height: 42px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
.Drop-images-here-outer {
  pointer-events: none;
  z-index: 13;
  position: relative;
  display: flex;
}
.bi-card-image {
  position: relative;
  z-index: 16;
  pointer-events: none;
  margin-left: 551px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-top: -402px;
  margin-bottom: 352px;
  min-height: 50px;
  overflow: hidden;
}
.bi-card-image-outer {
  pointer-events: none;
  z-index: 16;
  position: relative;
  display: flex;
}
.Group-1 {
  position: relative;
  z-index: 17;
  pointer-events: none;
  margin-left: 0px;
  width: 50px;
  min-width: 50px;
  height: 37.5px;
  margin-top: 6px;
  margin-bottom: 6.5px;
  min-height: 37.5px;
}
.Group-1-outer {
  pointer-events: none;
  z-index: 17;
  position: relative;
  display: flex;
}
.Vector-9 {
  position: relative;
  z-index: 19;
  pointer-events: none;
  margin-left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 0%;
  content: url(assets/Vector_9.png);
}
.Vector-9-outer {
  pointer-events: none;
  z-index: 19;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-10 {
  position: relative;
  z-index: 18;
  pointer-events: none;
  margin-left: 17.999999999999996%;
  width: 18.759999999999998%;
  height: 25.013333333333335%;
  margin-top: 13.999999999999998%;
  content: url(assets/Vector_10.png);
}
.Vector-10-outer {
  pointer-events: none;
  z-index: 18;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Choose-Photo-from-de {
  position: relative;
  z-index: 20;
  pointer-events: none;
  margin-left: 608px;
  width: 248px;
  min-width: 240px;
  margin-top: -389px;
  margin-bottom: 365px;
  min-height: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.Choose-Photo-from-de-outer {
  pointer-events: none;
  z-index: 20;
  position: relative;
  display: flex;
}
.Rectangle-10 {
  position: relative;
  z-index: 14;
  pointer-events: none;
  margin-left: 587px;
  width: 243px;
  min-width: 243px;
  height: 53px;
  margin-top: -292px;
  margin-bottom: 239px;
  min-height: 53px;
  background-color: rgba(119, 119, 119, 1);
  border-radius: 10px;
}
.Rectangle-10-outer {
  pointer-events: none;
  z-index: 14;
  position: relative;
  display: flex;
}
.Upload-Photo {
  position: relative;
  z-index: 15;
  pointer-events: none;
  margin-left: 632px;
  width: 159px;
  min-width: 154px;
  margin-top: -283px;
  margin-bottom: 253px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Upload-Photo-outer {
  pointer-events: none;
  z-index: 15;
  position: relative;
  display: flex;
}
