.websiteBody {
  margin: 0;
}
.Page {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  pointer-events: auto;
}
.Page-outer {
  pointer-events: none;
  z-index: 1;
}
.Frame {
  position: relative;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  margin-left: 0;
  height: 1024px;
  min-width: 200px;
  max-width: 1448px;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}
.Frame-outer {
  pointer-events: none;
  z-index: 2;
}
.Rectangle-3 {
  position: relative;
  z-index: 3;
  pointer-events: none;
  margin-left: 0px;
  width: 1455px;
  min-width: 1455px;
  height: 74px;
  margin-top: -3px;
  margin-bottom: 953px;
  min-height: 74px;
  background-color: rgba(0, 0, 0, 1);
}
.Rectangle-3-outer {
  pointer-events: none;
  z-index: 3;
  position: relative;
  display: flex;
}
.Rectangle-4 {
  position: relative;
  z-index: 13;
  pointer-events: none;
  margin-left: 0px;
  width: 328px;
  min-width: 328px;
  height: 65px;
  margin-top: -1024px;
  margin-bottom: 959px;
  min-height: 65px;
  content: url(assets/Rectangle_4.png);
}
.Rectangle-4-outer {
  pointer-events: none;
  z-index: 13;
  position: relative;
  display: flex;
}
.bx-bx-menu {
  position: relative;
  z-index: 11;
  pointer-events: none;
  margin-left: 1274px;
  width: 65px;
  min-width: 65px;
  height: 65px;
  margin-top: -1020px;
  margin-bottom: 955px;
  min-height: 65px;
}
.bx-bx-menu-outer {
  pointer-events: none;
  z-index: 11;
  position: relative;
  display: flex;
}
.Vector-7 {
  position: relative;
  z-index: 12;
  pointer-events: none;
  margin-left: 16.923076923076906%;
  width: 66.66153846153838%;
  height: 50%;
  margin-top: 24.61538461538459%;
  content: url(assets/Vector_7.png);
}
.Vector-7-outer {
  pointer-events: none;
  z-index: 12;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.unsplash-euZ2n8dGUcQ {
  position: relative;
  z-index: 10;
  pointer-events: none;
  margin-left: 1349px;
  width: 60px;
  min-width: 60px;
  height: 60px;
  margin-top: -1020px;
  margin-bottom: 960px;
  min-height: 60px;
  content: url(assets/unsplash_euZ2n8dGUcQ.png);
}
.unsplash-euZ2n8dGUcQ-outer {
  pointer-events: none;
  z-index: 10;
  position: relative;
  display: flex;
}
.entypo-share {
  position: relative;
  z-index: 36;
  pointer-events: none;
  margin-left: 723px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-top: -1013px;
  margin-bottom: 963px;
  min-height: 50px;
}
.entypo-share-outer {
  pointer-events: none;
  z-index: 36;
  position: relative;
  display: flex;
}
.Vector {
  position: relative;
  z-index: 37;
  pointer-events: none;
  margin-left: 12%;
  width: 75%;
  height: 82.98%;
  margin-top: 8%;
  content: url(assets/Vector.png);
}
.Vector-outer {
  pointer-events: none;
  z-index: 37;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.entypo-upload-to-clo {
  position: relative;
  z-index: 8;
  pointer-events: none;
  margin-left: 408px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-top: -1013px;
  margin-bottom: 963px;
  min-height: 50px;
}
.entypo-upload-to-clo-outer {
  pointer-events: none;
  z-index: 8;
  position: relative;
  display: flex;
}
.Vector-8 {
  position: relative;
  z-index: 9;
  pointer-events: none;
  margin-left: 0%;
  width: 100%;
  height: 65%;
  margin-top: 16%;
  content: url(assets/Vector_8.png);
}
.Vector-8-outer {
  pointer-events: none;
  z-index: 9;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ant-design-folder-op {
  position: relative;
  z-index: 6;
  pointer-events: none;
  margin-left: 578px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-top: -1013px;
  margin-bottom: 963px;
  min-height: 50px;
}
.ant-design-folder-op-outer {
  pointer-events: none;
  z-index: 6;
  position: relative;
  display: flex;
}
.Vector-9 {
  position: relative;
  z-index: 7;
  pointer-events: none;
  margin-left: 6%;
  width: 87.5%;
  height: 64.06%;
  margin-top: 18%;
  content: url(assets/Vector_9.png);
}
.Vector-9-outer {
  pointer-events: none;
  z-index: 7;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Group {
  position: relative;
  z-index: 18;
  pointer-events: none;
  margin-left: 866px;
  width: 45.25px;
  min-width: 45.25px;
  height: 45px;
  margin-top: -1010px;
  margin-bottom: 965px;
  min-height: 45px;
}
.Group-outer {
  pointer-events: none;
  z-index: 18;
  position: relative;
  display: flex;
}
.Vector-1 {
  position: relative;
  z-index: 24;
  pointer-events: none;
  margin-left: 57.45856353591166%;
  width: 30.563535911602237%;
  height: 30.555555555555557%;
  margin-top: 0%;
  content: url(assets/Vector_1.png);
}
.Vector-1-outer {
  pointer-events: none;
  z-index: 24;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-2 {
  position: relative;
  z-index: 23;
  pointer-events: none;
  margin-left: 13.259668508287305%;
  width: 30.563535911602237%;
  height: 30.555555555555557%;
  margin-top: 0%;
  content: url(assets/Vector_2.png);
}
.Vector-2-outer {
  pointer-events: none;
  z-index: 23;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-3 {
  position: relative;
  z-index: 22;
  pointer-events: none;
  margin-left: 0%;
  width: 35.82320441988953%;
  height: 32.13333333333333%;
  margin-top: 35.35911602209948%;
  content: url(assets/Vector_3.png);
}
.Vector-3-outer {
  pointer-events: none;
  z-index: 22;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-4 {
  position: relative;
  z-index: 21;
  pointer-events: none;
  margin-left: 22.099447513812148%;
  width: 55.55801104972374%;
  height: 33.333333333333336%;
  margin-top: 66.29834254143644%;
  content: url(assets/Vector_4.png);
}
.Vector-4-outer {
  pointer-events: none;
  z-index: 21;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-5 {
  position: relative;
  z-index: 20;
  pointer-events: none;
  margin-left: 64.0883977900553%;
  width: 35.82320441988953%;
  height: 32.13333333333333%;
  margin-top: 35.35911602209948%;
  content: url(assets/Vector_5.png);
}
.Vector-5-outer {
  pointer-events: none;
  z-index: 20;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Vector-6 {
  position: relative;
  z-index: 19;
  pointer-events: none;
  margin-left: 35.35911602209948%;
  width: 30.563535911602237%;
  height: 30.555555555555557%;
  margin-top: 30.939226519337044%;
  content: url(assets/Vector_6.png);
}
.Vector-6-outer {
  pointer-events: none;
  z-index: 19;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Shared {
  position: relative;
  z-index: 17;
  pointer-events: none;
  margin-left: 921px;
  width: 84px;
  min-width: 82px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Shared-outer {
  pointer-events: none;
  z-index: 17;
  position: relative;
  display: flex;
}
.Share-1 {
  position: relative;
  z-index: 16;
  pointer-events: none;
  margin-left: 771px;
  width: 69px;
  min-width: 67px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Share-1-outer {
  pointer-events: none;
  z-index: 16;
  position: relative;
  display: flex;
}
.View-1 {
  position: relative;
  z-index: 5;
  pointer-events: none;
  margin-left: 638px;
  width: 58px;
  min-width: 57px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.View-1-outer {
  pointer-events: none;
  z-index: 5;
  position: relative;
  display: flex;
}
.Upload-1 {
  position: relative;
  z-index: 4;
  pointer-events: none;
  margin-left: 468px;
  width: 84px;
  min-width: 82px;
  margin-top: -1003px;
  margin-bottom: 973px;
  min-height: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Upload-1-outer {
  pointer-events: none;
  z-index: 4;
  position: relative;
  display: flex;
}
.Rectangle-6 {
  position: relative;
  z-index: 14;
  pointer-events: none;
  margin-left: 0px;
  width: 1448px;
  min-width: 1448px;
  height: 17px;
  margin-top: -954px;
  margin-bottom: 937px;
  min-height: 17px;
  background-color: rgba(196, 196, 196, 1);
}
.Rectangle-6-outer {
  pointer-events: none;
  z-index: 14;
  position: relative;
  display: flex;
}
.unsplash-fRBpWLAcWIY {
  position: relative;
  z-index: 25;
  pointer-events: none;
  margin-left: 0px;
  width: 1448px;
  min-width: 1448px;
  height: 267px;
  margin-top: -937px;
  margin-bottom: 670px;
  min-height: 267px;
  content: url(assets/unsplash_fRBpWLAcWIY.png);
}
.unsplash-fRBpWLAcWIY-outer {
  pointer-events: none;
  z-index: 25;
  position: relative;
  display: flex;
}
.Rectangle-7 {
  position: relative;
  z-index: 15;
  pointer-events: none;
  margin-left: 0px;
  width: 1448px;
  min-width: 1448px;
  height: 937px;
  margin-top: -937px;
  margin-bottom: 0px;
  min-height: 937px;
  background-color: rgba(0, 0, 0, 1);
}
.Rectangle-7-outer {
  pointer-events: none;
  z-index: 15;
  position: relative;
  display: flex;
}
.Welcome-to-Construct {
  position: relative;
  z-index: 26;
  pointer-events: none;
  margin-left: 542px;
  width: 363px;
  min-width: 355px;
  margin-top: -638px;
  margin-bottom: 596px;
  min-height: 42px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
.Welcome-to-Construct-outer {
  pointer-events: none;
  z-index: 26;
  position: relative;
  display: flex;
}
.Now-you-can-easily-U {
  position: relative;
  z-index: 31;
  pointer-events: none;
  margin-left: 346px;
  width: 775px;
  min-width: 775px;
  margin-top: -580px;
  margin-bottom: 517px;
  min-height: 63px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: nullpx;
  line-height: 15px;
}
.Now-you-can-easily-U-outer {
  pointer-events: none;
  z-index: 31;
  position: relative;
  display: flex;
}
.Now-you-can-easily-U-1 {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
}
.Now-you-can-easily-U-2 {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 30px;
  line-height: 15px;
}
.Upload {
  position: relative;
  z-index: 27;
  pointer-events: none;
  margin-left: 656px;
  width: 100px;
  min-width: 98px;
  margin-top: -499px;
  margin-bottom: 463px;
  min-height: 36px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.Upload-outer {
  pointer-events: none;
  z-index: 27;
  position: relative;
  display: flex;
}
.Get-started-by-uploa {
  position: relative;
  z-index: 32;
  pointer-events: none;
  margin-left: 340px;
  width: 775px;
  min-width: 775px;
  margin-top: -447px;
  margin-bottom: 399px;
  min-height: 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.Get-started-by-uploa-outer {
  pointer-events: none;
  z-index: 32;
  position: relative;
  display: flex;
}
.View {
  position: relative;
  z-index: 28;
  pointer-events: none;
  margin-left: 671px;
  width: 70px;
  min-width: 68px;
  margin-top: -383px;
  margin-bottom: 347px;
  min-height: 36px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.View-outer {
  pointer-events: none;
  z-index: 28;
  position: relative;
  display: flex;
}
.The-view-option-allo {
  position: relative;
  z-index: 33;
  pointer-events: none;
  margin-left: 332px;
  width: 775px;
  min-width: 775px;
  margin-top: -331px;
  margin-bottom: 277px;
  min-height: 54px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.The-view-option-allo-outer {
  pointer-events: none;
  z-index: 33;
  position: relative;
  display: flex;
}
.Delete {
  position: relative;
  z-index: 29;
  pointer-events: none;
  margin-left: 661px;
  width: 91px;
  min-width: 89px;
  margin-top: -261px;
  margin-bottom: 225px;
  min-height: 36px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.Delete-outer {
  pointer-events: none;
  z-index: 29;
  position: relative;
  display: flex;
}
.Deleting-your-images {
  position: relative;
  z-index: 34;
  pointer-events: none;
  margin-left: 332px;
  width: 775px;
  min-width: 775px;
  margin-top: -209px;
  margin-bottom: 155px;
  min-height: 54px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.Deleting-your-images-outer {
  pointer-events: none;
  z-index: 34;
  position: relative;
  display: flex;
}
.Share {
  position: relative;
  z-index: 30;
  pointer-events: none;
  margin-left: 669px;
  width: 82px;
  min-width: 81px;
  margin-top: -139px;
  margin-bottom: 103px;
  min-height: 36px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.Share-outer {
  pointer-events: none;
  z-index: 30;
  position: relative;
  display: flex;
}
.Its-now-easy-to-shar {
  position: relative;
  z-index: 35;
  pointer-events: none;
  margin-left: 332px;
  width: 775px;
  min-width: 775px;
  margin-top: -87px;
  margin-bottom: 33px;
  min-height: 54px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.Its-now-easy-to-shar-outer {
  pointer-events: none;
  z-index: 35;
  position: relative;
  display: flex;
}
